html, body, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-y: scroll; 
}

.center { text-align: center; }

.paging-input { width: 20px; }

.paging-button {
  margin-left: 8px;
  margin-right: 8px;
}


